html {
    scroll-behavior: smooth;
}
nav .name{
    font-size:16px;
    font-weight: bold;
}
nav .profession{
    font-size:12px;
    color:#2B2A2C;
}
.navbar-nav .nav-item{
    align-items: center;
}
.navbar-nav .nav-item .nav-link{
    font-size:16px;
    color:#2B2A2C;
    font-weight: bold;
    padding:0;
}
.navbar-nav .nav-item.active{
    border-bottom:3px solid #2B2A2C;
}

header .contact{
    transition: background 0.3s, color 0.3s ease;
}
header .contact:hover{
    background: #dadada;
    color:white;
}
header{
    margin-top:100px;
}

#projects ul li a{
    text-decoration:none !important;
    color:#2B2A2C;
    transition: color 0.3s ease;
}

#projects ul li a:hover{
    color:#5f5d61;
}
#aPropos .aPropos{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    color:#2B2A2C;
}
#aPropos .whoIAm{
    font-size: 72px;
    font-weight: bold;
    color:#EFEFEF;
}

#aPropos .desc{
    color:#6A696B;
}

#projects #targetProjects .card{
    box-shadow: 2px 2px 5px #E5E5E5;
}
#projects ul li{
    cursor:pointer;
    transition:background 0.3s, padding 0.3s, border-radius 0.3s, color 0.3s, font-weight 0.3s, text-transform 0.3s ease;
}
#projects ul li:hover{
    color:#EFEFEF;
}

#projects ul li.active{
 background:#6A696B;
 padding:10px 15px;
 border-radius: 20px;
 color:white;
 font-weight:bold;
 text-transform:uppercase;
}

.rounded-custom{
    border-radius:50px !important;
}

.readButton{
    transition:background 0.2s, color 0.2s ease !important;
}

.readButton:hover{
    background: #2B2A2C;
    color:white;
}
footer .btnContactFooter{
    transition:color 0.4s, border 0.4s ease !important;
}
footer .btnContactFooter:hover{
    color:white !important;
    border:1px solid white !important;
}
.zoomable{
    cursor:pointer;
    transition:transform 0.3s, opacity 0.3s ease;
    
}
.zoomable:hover{
    transform:scale(1.2);
    opacity:0.6;
}
#blog, #aPropos, #projects{
    padding-top:120px;
}
.descProject{
    height:100% !important;
    max-height:250px !important;
    margin-bottom:100px !important;
}